.TestResults
{
    ion-item
    {
        ion-icon
        {
            width: 90%;
            height: 90%;
        }

        .Pending ion-icon, .Running ion-icon
        {
            color: #1976D2;
        }
        
        .Skipped ion-icon
        {
            color: #444444;
        }
        
        .Success ion-icon
        {
            color: #00C853;
        }
        
        .Warning ion-icon
        {
            color: #FFC107;
        }
        
        .Error ion-icon
        {
            color: #B71C1C;
        }
        
        h3
        {
            font-weight: bold;
        }
        
        p
        {
            white-space: normal;
        }

        a
        {
            text-decoration: none;
        }
    }
}
