<ion-header>
    <ion-toolbar>
        <ion-title>
            Manifest P-list .ipa Itms-Service Checker for Apple iOS App Downloads
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label position="floating">HTML-File URL (the file that contains the itms-service:// link)</ion-label>
            <ion-input [(ngModel)]="HtmlUrl"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Use CORS-Proxy (cors-anywhere.herokuapp.com)</ion-label>
            <ion-checkbox [(ngModel)]="CorsProxy" slot="start"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-button (click)="StartTest()">Start Tests</ion-button>

    <ion-list class="TestResults">
        <ion-item *ngFor="let testStep of TestSteps">
            <div class="StatusIcon" [class]="testStep.StateName">
                <ion-thumbnail slot="start">
                    <ion-icon name="{{testStep.State | stateToIcon}}"></ion-icon>
                </ion-thumbnail>
            </div>
            <ion-label>
                <h3>{{testStep.Title}}</h3>
                <p>{{testStep.Description}}</p>
                <ul>
                    <li *ngFor="let item of testStep.Details | keyvalue"><p>{{item.key}}: {{item.value}}</p></li>
                </ul>
                <ul *ngIf="testStep.Urls.length">
                    <li *ngFor="let url of testStep.Urls"><p><a href="{{url}}" onclick="window.open(this.href); return false;">{{url}}</a></p></li>
                </ul>
            </ion-label>
        </ion-item>
    </ion-list>
    
    <ion-list>
        <ion-item *ngFor="let log of Logs">
            <span>{{log[0]}} {{log[2]}}</span>
        </ion-item>
    </ion-list>
</ion-content>
